*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  position: absolute;
  width: 100%;
  min-width: 960px;
  box-sizing: border-box;
  background-color: #FFF8DC;
}
button{


  width: 16em;
  height: 5em;
  margin: 1em;
}
#button-container{
  position: absolute;
  left: 3em;
  top: 10em;
  width: 15em;
  height: 100%-3em;
  background-color: #FFE4B5;
}
#grid{
  background-color: white;
  height: 90%;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  position:  relative;
  top: 2em;
  left: 5em;
  box-sizing: border-box;

}
.block{
  border: 1px #555 solid;
  display: inline-block;

  box-sizing: border-box;
}
.highlight{
  background-color: black;
}
.reset{

}
#image{
  width: 500px;
  height: 100px;
  position: absolute;
  background-image: url("../images/etch.png");



  float:left;
}
