*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  position: absolute;
  width: 100%;
  min-width: 960px;
}

#grid{
  background-color: white;
  height: 864px;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;

  box-sizing: border-box;
}
.block{
  border: 1px black solid;
  display: inline-block;
  
  box-sizing: border-box;
}
.highlight{
  background-color: black;
}
.reset{
  height: 50px;
  width: 100px;
  float: left;
}
